<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy</title>
    <style>
        #container {
            background-color: skyblue;
            color: white;
            height: 100vh;
            width: 50;
            padding: 100px;

        }

        #inner-container {
            background-color: black;
            color: white;
            padding: 100px 250px;
        }
    </style>
</head>

<body>

    <div id="container">
        <div id="inner-container">

            <h2 style="text-align: center; margin-bottom: 20px;">Subject : {{subject}}</h2> <br>
            <p style="text-align: justify;">
                    {{message}}
            </p>
            <br>

            <p style="
        font-size: large;
        ">
                <b>Name </b>: {{fullname}} <br>
                <b>Contact no</b> : {{contact_no}} <br>
                <b>Email</b> : {{email}}


            </p>
        </div>

    </div>



</body>

</html>